body, html {
  font-size: 12px;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Yesteryear|Open+Sans|Roboto|Raleway|Abril+Fatface');



@media (min-width: 576px) {
  body, html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body, html {
    font-size: 20px;
  }
}
